
<section class="bg-gray-200 pb-10 min-h-screen">
    <div class="md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4" id="msg-flex">
    <div class="gap-6 mt-10 px-6 w-1/2 msg-block">
    <div class="antialiased bg-purple-600 text-white p-8 rounded-lg">
    <div class="relative z-10 flex justify-start space-x-4">
        <img src="img/pizza.png" alt="" class="h-8 w-8 rounded-full border-2 border-purple"/>
        <div>
            <h2 class="font-bold text-sm">roman reigns</h2>
            <h3 class="text-xs opacity-65"> user id</h3>
        </div>
    </div>
    <p class="relative z-10 mt-4 font-bold text-xl leading-tight">
        why you cancelled my order.
    </p>
    <p class="relative z-10 mt-4 text-sm opacity-85">
        why you cancelled my order.
    </p>
    </div>
    </div>
    <div class=" gap-6 mt-10 px-6 w-1/2 msg-block">
        <div class="antialiased bg-purple-600 text-white p-8 rounded-lg">
        <div class="relative z-10 flex justify-start space-x-4">
            <img src="img/pizza.png" alt="" class="h-8 w-8 rounded-full border-2 border-purple"/>
            <div>
                <h2 class="font-bold text-sm">roman reigns</h2>
                <h3 class="text-xs opacity-65"> user id</h3>
            </div>
        </div>
        <p class="relative z-10 mt-4 font-bold text-xl leading-tight">
            why you cancelled my order.
        </p>
        <p class="relative z-10 mt-4 text-sm opacity-85">
            why you cancelled my order.
        </p>
        </div>
        </div>
    <div class=" gap-6 mt-10 px-6 w-1/2 msg-block">
        <div class="antialiased bg-purple-600 text-white p-8 rounded-lg">
        <div class="relative z-10 flex justify-start space-x-4">
            <img src="img/pizza.png" alt="" class="h-8 w-8 rounded-full border-2 border-purple"/>
            <div>
                <h2 class="font-bold text-sm">roman reigns</h2>
                <h3 class="text-xs opacity-65"> user id</h3>
            </div>
        </div>
        <p class="relative z-10 mt-4 font-bold text-xl leading-tight">
            why you cancelled my order.
        </p>
        <p class="relative z-10 mt-4 text-sm opacity-85">
            why you cancelled my order.
        </p>
        </div>
        </div>
            <div class=" gap-6 mt-10 px-6 w-1/2 msg-block">
        <div class="antialiased bg-purple-600 text-white p-8 rounded-lg">
        <div class="relative z-10 flex justify-start space-x-4">
            <img src="img/pizza.png" alt="" class="h-8 w-8 rounded-full border-2 border-purple"/>
            <div>
                <h2 class="font-bold text-sm">roman reigns</h2>
                <h3 class="text-xs opacity-65"> user id</h3>
            </div>
        </div>
        <p class="relative z-10 mt-4 font-bold text-xl leading-tight">
            why you cancelled my order.
        </p>
        <p class="relative z-10 mt-4 text-sm opacity-85">
            why you cancelled my order.
        </p>
        </div>
        </div>
        </div>
</section>
