<section class="contact">

    <div class="container">
        <div class="login-content">
            <form action="/contact" method="POST" autocomplete="off">
                <h4 class="title-head">How can we help you ? ..</h4>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="div">
                        <input class="input" type="text" name="nameM" id="name">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="div">
                       
                   
                        
                        <input style="text-transform: lowercase;" class="input" type="email" name="emailM" id="email"
                            >
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-comment-dots"></i>
                    </div>
                    <div class="div">
                        <h5>Type Message Here...</h5>
                        <input class="input" type="text" name="message" id="message" required>
                    </div>
                </div>
                <input type="submit" class="btn" value="Send">
            </form>
        </div>
    </div>


</section>
    