<section class="error pb-2"> 
    <div class="container mx-auto text-center">
        <img id="error_gif" src="/img/error.gif" class="mx-auto" >
        <h2 class="text-xl ">Looks like you are lost</h2>
        <h1 class="text-xl ">The page your loking for is not available!!</h1>
        <a href="/" class="text-2xl inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go Home</a>
    </div>
</section>