//colors
$primary: #FE5F1E;
$primary-hover: #b23301;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;


//transitions
$smooth: all .3s ease-in-out;

// dark-mode
$black: #000000;
$white: #ffffff;
$dark-gray:#151313;
$blue:#101122;
$brown: #281617;
