@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.mainLogo a {
    color: rgb(0, 0, 0);
    font-family: 'Reggae One', cursive;
    font-weight: 700;
    // padding-left: 40px;
    font-size: 3vw;
}

.mainLogo a span {
    color: #E84118;
    font-family: 'Reggae One', cursive;
}

body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav #cart a{
    background: $primary-hover;
    &:hover {
        background: $primary;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

section.hero {
    background: $secondary;
}

.size {
    background: $secondary;
}

.add-to-cart,
.remove-to-cart {
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus {
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);
    a {
        color: $primary;
        &:hover {
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}


a.link {
    color: $primary;
}


section.status {
    background: $secondary;
    min-height: calc(100vh - 86px);
}

// #orderInprogress {}
#orderCancelled{
    text-align: center;
    padding-top: 20px;
    display: none;
}
#orderCancelled h2 {
    padding-bottom: 10px;
    font-size: 1.9rem;
}
#orderCancelled h5 {
    font-size: 1.3rem;
}
.status-box {
    padding: 60px 0 0;
}
.status-box ul{
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

//dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px $secondary;
}

#cancelOrder {
    display: none;
}

//icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    columns: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

//Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
 }
// Last dot
.status-box ul li:nth-child(5) span:after {
    box-shadow:0 20px 1px 20px $secondary;
}

//line
.status-box ul li.step-completed::before {
    background: $gray;
}

// dots
.status-box ul li.step-completed span:after {
    background: $gray;
}

// text
.status-box ul li.step-completed span {
    color: $gray;
}

// Current status
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span:after {
    background: $primary;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

.swicher ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    background: aliceblue;
    /* border-bottom: 1px solid; */
}

.swicher ul li {
    border-radius: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48%;
    border: 1px solid #FE5F1E;
    cursor: pointer;
}

.bolder {
    font-weight: bolder;
    color: #E84118 !important;
    border: 2px solid #b23301 !important ;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #FE5F1E;
    border-radius: 6px;
}

#no_data {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    color: #b23301;
    margin-bottom: 4rem;
}
#no_data i {
    color: #FE5F1E !important;
    font-size: 5rem;
}

#userOrdersCompleted {
    display: none;
    // font-weight: bolder;
    margin-bottom: 50px;
}

#userComplaintsResponsed {
    display: none;
    margin-bottom: 50px;
}

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
     }
 }

 @media(max-width: 850px) {
    #msg-flex {
        display: block;
    }
    .msg-block {
        width: 100%;
    }
}

@media(max-width: 768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
    .pro-width {
        width: 75%;
    }
}

@media(max-width: 500px) {
    .pro-width {
        width: 90%;
    }
}

section.error {
    background-color: $secondary;
    // min-height: calc(100vh - 86px);
    // transform: translateY(-12%);
}

section.error_gif {
    width: 30vw !important;
}

.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

#msg-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#profile{
    background-color: #edf2f7;
}

.hide {
    display :none;
}

#myForm{
    display: none;
    // display: block;
    /* background-color: white; */
    /* background: rgba( 193, 192, 192, 0.55 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 13px ); */
    // -webkit-backdrop-filter: blur( 13px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.formpopup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000000000000;
}

.formpopup form {
    // display: block;
    width: 350px;
    // filter: );
}

.blur.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}
table1 {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
 }

 .btn-primary1{
    background:rgba(214, 3, 3, 0.938);
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}
.btn-primary2{
    background:rgba(28, 143, 6, 0.938);
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}