@import './variables';
@import './mode.css';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';
@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');





*::selection{
    background:var(--primary);
    color:var(--pure);
}

.center-loader {
    height: 100vh;
    /* left:0; */
    width: 100vw;
    background-color: #1d9bf0;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: center;
    z-index:99999;
}


.loader-loader {
    background: transparent;
    width: 84px;
    height: 84px;
    border-top: 4px solid rgba(255, 255, 255, 0.3);
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    border-left: 4px solid #fff;
    border-radius: 50%;
    animation: spin 1s ease infinite;
    margin: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    scroll-behavior: smooth;
}

.mainLogo a {
    color: var(--black);
    font-family: 'Reggae One', cursive;
    font-weight: 700;
    // padding-left: 40px;
    font-size: 3vw;
}

// .active{
//     color:  #1efe8e !important;
//     font-weight:700 !important;
// }

.mainLogo a span {
    color: var(--primary);
    font-family: 'Reggae One', cursive;
}

body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--black);
    background: var(--pure);
}

nav #cart a{
    background: var(--primary-hover);
    &:hover {
        background: var(--primary);
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: var(--primary);
    }
}

section.hero {
    background: var(--secondary);
    color: var(--black);
}

.size {
    background: var(--secondary);
}

.imagehome{
    border-radius: 25%;
}
// ---------------------------------------

#dish-item{
    width: 70%;
}


.container {
    width: 100%;
}

.cart{
    color: var(--black);
}

.cart-head {
    font-size: 1.5rem;
    font-weight: 700;
}

.cart-h-inner i {
    margin-right: 10px;
}

.image-cart-f {
    width: 7rem;
    height: 7rem;
    margin-right: 15px;
}

.image-cart-f img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cart-items-flex-o {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.cart-i-i-d {
    display: flex;
    align-items: center;
    flex-grow: 3;
    flex-basis: 0;
}

.rollscroll-items {
    flex-grow: 1;
    display: flex;
    flex-basis: 0;
    align-items: center;
    justify-content: space-between;
}

.cart-price {
    flex-grow: 1;
    flex-basis: 0;
    text-align: end;
    font-weight: 700;
    font-size: 22px;
    color: var(--black);
}

.cart-d , .cart-r {
    line-height: 30px;
    font-size: 17px;
}

.cart-d .cart-infos:nth-child(1) , .cart-r .cart-infos:nth-child(1)  {
    font-weight: 700;
}

.cart-d .cart-infos:nth-child(2) ,  .cart-r .cart-infos:nth-child(2){
    font-weight: 500;
}

.rollscroll-items button {

    padding: 10px 15px;
    outline: none;
    border-radius: 50%;
    border: 1px solid rgb(255, 81, 0);
}

.pcs-items {
    font-weight: 600;
    text-align: center;
}

.responsive-info{
    display: none;
}
// ---------------------------------------

.add-to-cart,
.remove-to-cart {

    border: 2px solid var(--primary);
    border-radius: 18px;
    padding: 5px 15px;
    margin-left: 4px;
    color: var(--primary);
    transition: $smooth;
    &:hover{
        background: var(--primary);
        border-color: var(--pure);
        color: var(--pure);
    }
    &:focus {
        outline: none;
    }
}

.btn-primary{
    background: var(--primary);
    transition: $smooth;
    &:hover{
        background: var(--primary-hover);
    }
}

section.cart{
    background: var(--secondary);
    .amount{
        color: var(--primary);
    }
}

section.login{
    background: var(--secondary);
    min-height: calc(100vh - 86px);
    a {
        color: var(--primary);
        &:hover {
            color: var(--primary-hover);
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important;
}


a.link {
    color: var(--primary);
}


section.status {
    background: var(--secondary);
    min-height: calc(100vh - 86px);
}


.footer {
    margin-top: auto !important;
    height: fit-content !important;
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: var(--black);
    background-color: var(--pure);
    border-top: 1px solid #e5e5e5;
    background: var(--footer);
}

.footer>* {
    flex: 1 100%;
}

.footer__addr {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer__logo {
    color: var(--black);
    font-family: 'Reggae One', cursive;
    font-weight: 800;
    font-size: 2.5rem;
}

.footer__logo span {
    color: var(--primary);
    font-family: 'Reggae One', cursive;
}

.footer__logo__des {
    font-family: 'Reggae One', cursive;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: var(--black);
}

.footer__addr h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.nav__title {
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: .9rem;
    font-family: 'Bevan', cursive;
}

.footer address {
    font-style: normal;
    color: #999;
}

.footer__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #2f2f2f;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
    margin-top: 5px;
}

.footer a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: 'Headland One', serif;
}

.footer a:hover {
    cursor: pointer;
}

.footer__nav {
    color: var(--black);
    display: flex;
    flex-flow: row wrap;
}

.footer__nav>* {
    flex: 1 10%;
    margin-right: 1.25em;
}


.nav__last a {
    text-transform: lowercase !important;
}

.nav__ul--extra {
    column-count: 2;
    column-gap: 1.25em;
}

// #orderInprogress {}
#orderCancelled{
    text-align: center;
    padding-top: 20px;
    display: none;
}
#orderCancelled h2 {
    padding-bottom: 10px;
    font-size: 1.9rem;
}
#orderCancelled h5 {
    font-size: 1.3rem;
}
.status-box {
    padding: 60px 0 0;
}
.status-box ul{
    margin-left: 84px;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

//dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: var(--dark);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow: 0 0 1px 10px var(--secondary);
}

#cancelOrder {
    display: none;
}

//icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    columns: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}

.status-box ul li {
    position: relative;
}

//Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: var(--dark);
    margin-top: 10px;
 }
// Last dot
.status-box ul li:nth-child(5) span:after {
    box-shadow:0 5px 1px 15px var(--secondary);
}

//line
.status-box ul li.step-completed::before {
    background: var(--gray);
}

// dots
.status-box ul li.step-completed span:after {
    background: var(--gray);
}

// text
.status-box ul li.step-completed span {
    color: var(--gray);
}

// Current status
.status-box ul li.current span {
    color: var(--primary);
}

.status-box ul li.current span:after {
    background: var(--primary);
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

.swicher ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0px;
    // background: aliceblue;
    /* border-bottom: 1px solid; */
}

.swicher ul li {
    border-radius: 15px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 48%;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.bolder {
    font-weight: bolder;
    color: #E84118 !important;
    border: 2px solid var(--primary-hover) !important ;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 6px;
}

#no_data {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 4rem;
    color: var(--primary-hover);
    margin-bottom: 4rem;
}
#no_data i {
    color: var(--primary) !important;
    font-size: 5rem;
}

#userOrdersCompleted {
    display: none;
    // font-weight: bolder;
    margin-bottom: 50px;
}

#userComplaintsResponsed {
    display: none;
    margin-bottom: 50px;
}


section.error {
    background-color: var(--secondary);
}


.StripeElement {
    box-sizing: border-box;
    width: 50%;
    margin-left: auto;
    height: 40px;
    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

#msg-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.hide {
    display :none;
}

#myForm{
    display: none;
    // display: block;
    /* background-color: white; */
    /* background: rgba( 193, 192, 192, 0.55 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* backdrop-filter: blur( 13px ); */
    // -webkit-backdrop-filter: blur( 13px );
    border-radius: 15px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.formpopup {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 325px;
    transform: translate(-50%, -50%);
    z-index: 1000000000000;
}

// .formpopup form {
//     // display: block;
//     width: 325px;
//     // filter: );
// }

.blur.active {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
}

.btn-primary1{
    background:rgba(214, 3, 3, 0.938);
    transition: $smooth;
    &:hover{
        background: var(--primary-hover);
    }
}
.btn-primary2{
    background:rgba(28, 143, 6, 0.938);
    transition: $smooth;
    &:hover{
        background: var(--primary-hover);
    }
}



// html{
//     font-size: 62.5%;
//     overflow-x: hidden;
// }

.btn{
    height:5rem;
    width: 18rem;
    color:var(--pure);
    border:.2rem solid var(--pure);
    outline:.2rem solid var(--pure);
    outline-offset: -.8rem;
    font-size: 2rem;
    margin:1.5rem 0;
    cursor: pointer;
    background:none;
}

.btn:hover{
    outline-offset: .4rem;
    background:var(--primary);
}

.heading{
    text-align: center;
    width: 90%;
    margin:0 auto;
    padding:0 .5rem;
    padding-top: 6rem;
    box-shadow: 0 .2rem .05rem rgba(0,0,0,.3);
}

.heading span{
    display: inline-block;
    font-size: 3.5rem;
    color:var(--primary);
    padding:1rem 0;
    box-shadow: 0 .2rem .05rem var(--primary);
}

header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: white;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    z-index: 1000;
}

header .header-1 .logo{
    font-size: 2.5rem;
    color:var(--primary);
}

header .header-1 .call{
    font-size: 2rem;
    color:#666;
}

header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background:var(--pure);
    // padding:.5rem;
    position: relative;
    z-index: 1000;
}

header .header-2 .navbar ul{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .header-2 .navbar ul li{
    margin:1rem;
}

header .header-2 .navbar ul li a{
    font-size: 1rem;
    color:var(--black);
}

header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:var(--primary);
}

header .header-2 .share a{
    font-size: 2rem;
    color:var(--pure);
    margin:1rem;
}

header .header-2 #menu{
    font-size: 2.1rem;
    color:var(--primary);
    cursor: pointer;
    display: none;
    margin:1rem;
}

header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

/* media queries  */

@media(max-width:1060px) {
    .container {
        max-width: 90%;
    }    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
     }
 }

 @media(max-width: 850px) {
    #msg-flex {
        display: block;
    }
    .msg-block {
        width: 100%;
    }
    
    .cart-i-i-d {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        text-align: center;
    }

    .cart-d {
        line-height: 25px;
        margin-top: 10px;
    }
}

@media(max-width: 768px) {
    .status-box ul li span:before {
        font-size: 34px;
    }
    .pro-width {
        width: 75%;
    }

    nav #cart a {
        background: var(--primary-hover);
        display: flex;
    }

    .cart-i-i-d {
        align-items: flex-start;
        text-align: start;
    }

    .cart-d {
        line-height: 25px;
        margin-top: 10px;
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: absolute;
        top:100%; right: -120%;
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        justify-content: center;
        /* min-height: calc(100vh - 12rem); */
        /* padding-bottom: 1rem; */
        width: 15rem;
        background: var(--pure);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(6.5px);
        -webkit-backdrop-filter: blur(6.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    header .header-2 .navbar ul li{
        width: 100%;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 1rem;
        display: block;
    }

    header .header-2 .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        right:0;
        margin: 1rem;
    }
}

@media(max-width: 500px) {
    .pro-width {
        width: 90%;
    }
    .rollscroll-items {
        flex-grow: 1.5;
    }
    .cart-d{
        display: none;
    }
    .responsive-info{
        padding: 0 10px;
        display: block;
    }
    .cart-i-i-d {
        flex-grow: 1;
    }
    .image-cart-f {
        width: 5rem;
        height: 5rem;
    }
    .rollscroll-items{
        flex-grow: 1.7;
    }
}

@media (max-width:400px){

    // html{
    //     font-size: 50%;
    // }

    header .header-1{
        flex-flow: column;
    }

    header .header-1 .logo{
        padding-bottom: 1rem;
    }


}


@media screen and (min-width: 24.375em) {
    .legal .legal__links {
        margin-left: auto;
    }
}

@media screen and (min-width: 35.375em) {
    .footer__nav {
        flex: 0px 0px;
    }
    .nav__title {
        font-size: 2rem;
    }
    .footer__logo {
        font-size: 3rem;
    }
}

@media screen and (min-width: 40.375em) {
    .nav__item--extra {
        flex-grow: 1;
    }
    .footer__addr {
        flex: .9 0px;
    }
    .footer__nav {
        flex: 1 0px;
    }
}

#icon{
    width: 30px;
    cursor: pointer;
}