
:root{
    --primary: #FE5F1E;
    --primary-hover: #b23301;
    --secondary: #F8F8F8;
    --pure: #fff;
    --dark: #232323;
    --gray: #ccc;
    --black: #000;
    --footer:#c3cfd0;
}
.Light{
    --primary: #FE5F1E;
    --primary-hover: #b23301;
    --secondary: #F8F8F8;
    --pure: #fff;
    --dark: #232323;
    --gray: #ccc;
    --black: #000;
    --footerr:#c3cfd0;
    --footer:#e8e8e8;
}
.dark{
    --footerr:#2b2b2b;
    --footer:#1c1c1c;
    --black: #fff;
    --primary: #FE5F1E;
    --primary-hover: #b23301;
    --secondary: #1f1c1c;
    --pure: rgb(0, 0, 0);
    --dark: #232323;
    --gray: #ccc;
}